:root{
    --yellow: #FFE74C;
    --rose: #FF5964;
    --blue: #548ecb;
    --green: #68B684;
}

body {
    font-family: sans-serif;
    margin: 0px;
    background-color: black;
    height: 100vh;
    display: grid;
    place-items: center;
}

#cardcontainer,
.card {
    aspect-ratio: 5 / 7;
}
#cardcontainer,
.bigcard {

    width: 40vmin;
}
.card{

    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    transition: transform 500ms cubic-bezier(.83,1.43,.8,1.05), width 50ms, margin-top 50ms, margin-left 50ms;
}
.bigcard {
    border-radius: 2vmin;
    display: inline-block;
    box-shadow: -30px 30px 30px rgba(0,0,0,0.3);
}

.bigcard:nth-child(1) {
    transform: translateX(-10%) rotate(-3deg);
    background-color: var(--blue);
}
.bigcard:nth-child(2) {
    transform: translateX(-3%) rotate(-1deg);
    background-color: var(--green);
}
.bigcard:nth-child(3) {
    transform: translateX(1%) rotate(2deg);
    background-color: var(--rose);
}
.bigcard:nth-child(4) {
    transform: translateX(10%) rotate(7deg);
    background-color: var(--yellow);
}

.bigcard:nth-child(1):hover {
    margin-top: -5vmin;
    width: 45vmin;
}
.bigcard:nth-child(2):hover {
    margin-top: -5vmin;
    width: 45vmin;
}
.bigcard:nth-child(3):hover {
    margin-top: -5vmin;
    width: 45vmin;
    margin-left: -5vmin;
}
.bigcard:nth-child(4):hover {
    margin-top: -5vmin;
    margin-left: -5vmin;
    width: 45vmin;
}


#cardcontainer:hover > .bigcard:nth-child(1){
    transform: translate(-75%, 16%) rotate(-24deg);
}
#cardcontainer:hover > .bigcard:nth-child(2){
    transform: translate(-25%, 8%) rotate(-8deg);
}
#cardcontainer:hover > .bigcard:nth-child(3){
    transform: translate(25%, 8%) rotate(8deg);
}
#cardcontainer:hover > .bigcard:nth-child(4){
    transform: translate(75%, 16%) rotate(24deg);
}


/* First card (4nht child) */
.bigcard:nth-child(4) .Header{
    margin-left: 30px;
    margin-top:20px
    
}
.bigcard:nth-child(4) .Header #name{
    font-size: 50px;
    font-weight: bold;
    margin: 0px;
}
.bigcard:nth-child(4) .Header #subname{
    font-size: 20px;
    font-weight:lighter;
    margin: 0px;
}

