body{
    
    margin: 0px;
    background-color: black;
    background-image: url("2-jahr.jpg");
}
p{
    color: rgb(173,145,121);
    font-family: Arial;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.title{
    font-family: fantasy;
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}
.text{
    margin-top: 40px;
    color:rgb(223, 183, 148);
    margin-bottom: 300px;
}