body{
    background-color: rgb(27,39,65);
    
}
a{
    text-decoration-line: none;
}
.title{
    margin-bottom: 0;
    color: rgba(173,145,48,255);
    font-family: fantasy;
    text-align: center;
    font-size: 50px;

}
.ps{
    font-family: fantasy;
    color: rgba(173,145,48,255);
    font-size: 7px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.gametut{
    color: rgba(173,145,48,255);
    font-family: fantasy;
    font-size: 18px;
}
.button{
    color: rgb(27,39,65);
    background-color: rgba(173,145,48,255);
    font-family: fantasy;
    font-size: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    border-style: solid;
    border-color: rgba(173,145,48,255);
    transition: color .1s;
    transition: background-color .1s;
}
.button:active{
    color: rgba(173,145,48,255);
    background-color: rgb(27,39,65);
}