body{
    
    margin: 0px;
    background-color: black;
    background-image: url("9-jahr.jpg");
    background-position-x: 30px;
    background-position-x: 90px;
}
p{
    background-color: rgba(4, 4, 2, 0.8);
    padding: 10px;
    color:rgb(252,212,150);
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.title{
    font-family: fantasy;
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.pic1{
    margin-top: 20px;
    margin-bottom:30px ;
}