.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
    margin-top: 100px;
    color: rgb(150, 241, 13);
    background-color: rgba(0, 0, 0, 0.516);

}
body{
    background-image: url("A.gif");
    margin:0px;
    padding: 0px;
}
a{
    color: rgb(150, 241, 13);
    text-decoration: none;
}
.a{
    background-color: black;
    border: none;
    
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    font-size: large;
    cursor: pointer;
}
.a:hover{
    background-color: rgba(0, 0, 0, 0.559);
}
.a:active{
    color: rgba(0, 0, 0);
    background-color: rgb(0, 0, 0);
}
.container{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%}
button{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%
}    
