body{
    background-color: rgb(25,3,68);
}
a {
    text-decoration: none;   
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.back{
    color: rgb(27,39,65);
    background-color: rgb(253,244,255);
    border-style: solid;
    border-color: rgb(253,244,255);
    font-size: 20px;
    padding-left:20px;
    padding-Right:20px;
    border-radius: 50px;
}
.container{
    text-align: center;
}
input, button{
    font-family: fantasy;
    font-size: 20px;
}
#result{
    font-size: 30px;
    color: rgb(253,244,255);
    margin-top: 20px;
    font-family: fantasy;
    
}
.a{
    color: rgb(253,244,255);
    
}