body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(66, 66, 66);
}

p{
    font-family: Arial;
}



.topbar{
    background-color: rgba(0, 0, 0, 0.774);
    padding: 0px;
    padding-bottom: 20px;
}
.title{
    font-size:50px;
    text-align: center;
    margin:0;
    font-family: Arial;
    color: blueviolet;
    text-align: center;
    display: inline-block;
}

.headerleft{
    box-sizing: border-box;
    position: relative;
    margin-top: 20px;
}
.titleB{ 
    background-color: blueviolet;
    border-style: none;
    border-radius: 30px;
    font-size: 20px;
    padding: 1px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: padding .2s;
}
.titleB:hover{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: blueviolet;
}
.titleB:active{
    background-color: rgba(0, 0, 0, 0.151);
    border-style: solid;
    border-width: 2px;
    border-color: blueviolet;
    color: blueviolet;
}
.main-header{
    box-sizing: border-box;
    position: relative;
    text-align: center;
}




.main-content{
    margin-top: 30px;
    
}
.main-text{
    margin-left: 30px;
    box-sizing: border-box;
    width: 40%;
    font-size: 30px;
    display: inline-block;
    background-color: blueviolet;
    padding: 30px;
    padding-bottom: 20px;
    padding-top:  20px;
    border-radius: 15px;
}
.us{
    margin:auto;
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
}
.description{
    margin-left: 5px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.651);
}
.us-b{
    margin-left: 20%;
    margin-top: 30px;
    display: block;
    font-size: 50px;


    background-color: blueviolet;
    border-style: none;
    border-radius: 30px;
    padding: 1px;
    padding-left: 25px;
    padding-right: 300px;
    cursor: pointer;
    transition: padding .2s;
}
.us-b:hover{
    padding-right: 350px;
    padding-left: 30px;
}
#a{
    margin-top: 3000px;
}
